<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  <script>

  var content = [

    {% for state in site.data.data %}
    { title: "{{state.state}}" },
    {% endfor %}
  ];


  $('.ui.search')
    .search({
      searchFields   : [
        'title'
      ],
      source: content,
      onSelect: function (result, response) {
        console.log(result)
        location.replace("{{site.baseurl}}/jurisdictions/" + result.title.replace(/ /g,''))
      }
    });

  </script>

  </body>

</html>
